body{
    color: #7F5539;
}

/* header */
#top{
    position: relative;
    height: 112px;
    padding-top: 20px;
    background-color: #EDE0D4;
}
h1{
    text-align: center;
}
h1 img{
    width: 87px;
}
.three, .cart, .favorite, .login{
    position: absolute;
}
.three{
    left: 5%;
    top: 30%;
}
.three img{
    width: 50px;
}
.cart{
    right: 5%;
    top: 30%;
}
.favorite{
    right: 11%;
    top: 35%;
    text-align: center;
}
.favorite p{
    font-size: 0.7rem;
    font-weight: bold;
    margin-top: 4px;
}
.login{
    right: 18%;
    top: 30%;
}
.cart img, .login img{
    height: 54px;
}
.headerSub{
    background-color: #b392ac;
    height: 64px;
    position: relative;
}
.headerSub div{
    margin-top: 12px;
    position: absolute;
    top: 0;
    right: 5%;
}
.headerSub div input:first-of-type{
    background-color: #d9d9d9;
    width: 40px;
    padding: 8px;
    border: 2px solid#7F5539;
}
.headerSub div input:last-of-type{
    background-color: #fff;
    height: 40px;
    border: 2px solid#7F5539;
}
.headerSub .condition-sub{
    display: none;
    margin-top: 50px;
    right: -10%;
    line-height: 2;
    border: 1px solid #7F5539;
    background-color: #d6cdcd;
    padding-right: 30px;
}
.headerSub .condition-sub label{
    margin-left: 20px;
}
.headerSub .condition-sub label input{
    height: 20px;
}
.headerSub .condition-detail{
    display: none;
    margin-top: 83px;
    right: -10%;
    background-color: aliceblue;
    line-height: 2;
    border: 1px solid #7F5539;
    padding: 0 20px;
}
.headerSub .condition-detail select option{
    display: inline-block;
    text-align: center;
    padding: 0 20px;
}
.accordion-btn {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    border: none;
    background: none;
}
.accordion-btn::after {
    content: "▼";
    margin-left: 5px;
    font-size: 30px;
}
.accordion-btn.open::after {
    content: "▲";
}

/* footer */
footer{
    height: 448px;
    background-color: #EDE0D4;
}
.fq{
    display: flex;
    font-size: 1rem;
    padding-top: 20px;
    margin-left: 10%;
}
.fq li{
    line-height: 40px;
    margin-right: 62px;
    padding-left: 10px;
    border-left: 1px solid #7F5539;
}
footer p:first-of-type{
    margin: 64px 0 72px;
    text-align: center;
}
footer p img{
    width: 144px;
}
.sns{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.sns li{
    margin-right: 40px;
}
.sns li:last-of-type{
    margin-right: 0;
}
footer p:last-child{
    border-top: 1px solid #7F5539;
    line-height: 52px;
    text-align: center;
}

/* drower */
#wrapper.show{
    display: block;
}
#nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 418px;
    z-index: 9999; 
    transform: translateY(-418px);
    transition: transform 0.5s ease;  
    background-color: rgba(127, 85, 57, 0.75);
    padding-top: 20px;
    color: #fff;
}
.navMain{
    text-align: center;
    margin-bottom: 40px;
}
.navMain img{
    width: 87px;
}
.batu{
    position: absolute;
    top: 8%;
    left: 5%;
}
.batu img{
    width: 54px;
}
#nav ul{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
#nav ul li{
    line-height: 48px;
    font-size: 1.5rem;
    border-bottom: 1px solid #fff;
}
#nav.show{
    transform: translateX(0);
    transition: transform 0.5s ease;
}
.show_reverse{
    transform: translateX(255px);
    transition: transform 0.5s ease;
}


@media screen and (max-width:768px) {
    /* header */
    #top{
        height: 90px;
        padding-top: 16px;
    }
    h1 img{
        width: 62px;
    }
    .three{
        left: 5%;
        top: 30%;
    }
    .three img{
        width: 25px;
    }
    .cart{
        right: 5%;
        top: 30%;
    }
    .favorite{
        right: 13.5%;
        top: 31%;
    }
    .login{
        right: 25%;
        top: 30%;
    }
    .cart img, .login img{
        height: 35px;
    }
    .favorite svg{
        height: 20px;
    }
    .favorite p{
        font-size: 0.45rem;
    }
    .headerSub{
        background-color: #EDE0D4;
        height: 40px;
        text-align: center;
        padding-bottom: 8px;
        height: 45px;
    }
    .headerSub div{
        margin-top: 0;
        top: 0;
        left: 4%;
    }
    .headerSub div input:first-of-type{
        width: 37px;
    }
    .headerSub div input:last-of-type{
        height: 37px;
        width: 75%;
    }
    .headerSub .condition-sub{
        right: 0;
        padding-right: 30px;
    }
    .headerSub .condition-sub label input[type="radio"]{
        width: 37px;
        height: 25px;
    }
    .headerSub .condition-detail{
        right: 0;
    }
    .headerSub .condition-detail select option{
        font-size: 0.7rem;
        line-height: 1.5;
    }

    /* footer */
    footer{
        height: 303px;
        position: relative;
    }
    .fq{
        display: block;
        margin-left: 5%;
    }
    .fq li{
        line-height: 30px;
        margin-right: 62px;
        padding-left: 10px;
        margin-bottom: 15px;
    }
    footer p:first-of-type{
        position: absolute;
        bottom: 15%;
        right: 5%;
        margin: 0;
    }
    footer p img{
        width: 72px;
    }
    .sns{
        justify-content: left;
        margin-bottom: 78px;
        margin-left: 15px;
    }
    .sns li{
        margin-right: 30px;
    }
    footer p:last-child{
        line-height: 34px;
    }

    /* drower */
    #nav{
        height: 488px;
        transform: translateY(-488px);
        padding-top: 17.2px;
    }
    .navMain img{
        width: 59px;
    }
    .batu{
        top: 5%;
    }
    .batu img{
        width: 26px;
    }
    #nav ul{
        width: 100%;
        text-align: left;
    }
    #nav ul li{
        font-size: 1rem;
        padding-left: 15px;
    }

}